certifi==2019.11.28
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.0
MarkupSafe==1.1.1
numpy==1.19.5
six==1.15.0
Werkzeug==0.16.0
opencv-python==4.1.2.30
tensorflow
keras==2.4.3
